

 <p>Complex Objects </p>
 <form>
   <div class="row">
     <div class="col-6">
       <label for="name">Name</label>
       <input type="text" id="name" class="form-control">
     </div>
     <div class="col-6">
       <label for="country">Country</label>
       <searchable-select  [data]="countries" [displayKey]="'code'"  type="complex"  id="country"> </searchable-select>
     </div>
   </div>
 </form>

<p>String Objects </p>
<form style="width: 500px">
  <div class="row">
    <div class="col-6">
      <label for="name1">Name</label>
      <input type="text" id="name1" class="form-control">
    </div>
    <div class="col-6">
      <label for="country2">Country</label>
      <searchable-select [data]="items" type="simple" id="country2"> </searchable-select>
    </div>
  </div>
</form>


 <p>Select Event</p>
  <div class="mb-3">
   <label for="country3">Country</label>
   <searchable-select  [data]="countries" [displayKey]="'code'"  type="complex" (onSelection)="country = $event"   id="country3"> </searchable-select>
 </div>
 <span *ngIf="country"><i>Selected Country : {{country | json}}</i></span>
